<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vizibble | Widgets</title>
    <link rel="stylesheet" href="/CSS/output.css">
</head>

<body class="bg-gray-200 text-gray-800">
    <%- include('includes/navbar.ejs') %>
        <main class="relative flex flex-col gap-6 py-10">
            <% if (locals.names) { %>
                <section class="flex flex-col justify-center items-center gap-6 px-10">
                    <article class="flex sm:flex-row flex-col gap-5">
                        <!-- Device Dropdown -->
                        <div class="relative">
                            <button id="dropdownRadioButtonDevice" data-dropdown-toggle="dropdownRadioDevice"
                                class="inline-flex items-center bg-green-500 hover:bg-green-600 shadow px-4 py-2 rounded-full focus:outline-none font-medium text-white text-sm transition"
                                type="button">
                                Choose a Device
                                <svg class="ms-2.5 w-3 h-3 transition-transform" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m1 1 4 4 4-4" />
                                </svg>
                            </button>

                            <!-- Dropdown menu -->
                            <div id="dropdownRadioDevice"
                                class="hidden z-[1009] bg-white shadow-md mt-2 border border-gray-200 rounded-full w-48 max-h-60 overflow-y-auto">
                                <ul class="space-y-1 p-2 text-gray-700 text-sm" aria-labelledby="dropdownRadioButton">
                                    <% names.forEach(name=> { %>
                                        <li>
                                            <div
                                                class="flex items-center hover:bg-gray-100 p-2 rounded-full transition-colors duration-200">
                                                <input id="<%= name.connection_id %>" type="radio"
                                                    value="<%= name.connection_id %>" name="device"
                                                    class="focus:ring-green-500 w-4 h-4 text-green-600">
                                                <label for="<%= name.connection_id %>"
                                                    class="ms-2 w-full font-medium text-gray-800 text-sm truncate">
                                                    <%= name.connection_id %>
                                                </label>
                                            </div>
                                        </li>
                                        <% }) %>
                                </ul>
                            </div>
                        </div>
                    </article>

                    <!-- Action Buttons -->
                    <button id="select"
                        class="bg-green-500 hover:bg-green-600 px-4 py-2 rounded-full focus:ring-4 focus:ring-green-300 font-medium text-white text-sm transition">
                        Get Data
                    </button>

                    <button id="loading"
                        class="hidden items-center bg-green-500 hover:bg-green-600 px-4 py-2 rounded-full focus:outline-none font-medium text-white text-sm transition">
                        <svg aria-hidden="true" role="status" class="inline me-3 w-4 h-4 animate-spin"
                            viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill="#E5E7EB"
                                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" />
                            <path fill="currentColor"
                                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" />
                        </svg>
                        Loading...
                    </button>
                </section>
                <% } %>

                    <!-- Alert Notification Modal -->
                    <section
                        class="hidden top-5 left-1/2 z-[9999] fixed opacity-0 transition-all -translate-x-1/2 translate-y-4 duration-300 modal">
                        <div
                            class="flex items-center bg-white shadow-lg px-4 border border-red-500 rounded-lg w-[90vw] sm:w-96 overflow-hidden">
                            <div class="flex justify-center items-center bg-red-100 rounded-full size-12">
                                <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke="red">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>
                            </div>
                            <div class="p-4">
                                <h5 class="font-semibold text-red-500 text-sm sm:text-base status_alert_heading"></h5>
                                <p class="text-xs sm:text-sm status_text"></p>
                            </div>
                        </div>
                    </section>

                    <!-- Widget Container -->
                    <div class="hidden flex flex-col gap-6 mx-4 sm:mx-10 mt-6" id="widgets">
                        <div
                            class="grid grid-cols-1 md:grid-cols-3 bg-white shadow-sm rounded-3xl divide-x divide-x-2 divide-solid overflow-hidden">
                            <div class="flex flex-col space-y-2 bg-gray-50 p-6">
                                <p><span class="font-medium">Shift:</span> <span id="metaShift">–</span></p>
                                <p><span class="font-medium">Machine:</span> <span id="metaMachine">–</span></p>
                                <p><span class="font-medium">Operator:</span> <span id="metaOperator">–</span></p>
                                <p><span class="font-medium">Product:</span> <span id="metaProduct">–</span></p>
                            </div>

                            <div
                                class="flex flex-col justify-center items-center bg-green-50 p-6 w-full text-green-800 text-center">
                                <h2 class="font-semibold text-xl">Production Count</h2>
                                <div class="flex mt-2 divide-x divide-x-2 divide-solid">
                                    <div class="p-4">
                                        <div class="text-gray-600 text-sm">Today</div>
                                        <div class="font-bold text-7xl" id="todayHitCount">0</div>
                                    </div>
                                    <div class="p-4">
                                        <div class="text-gray-600 text-sm">Current Shift</div>
                                        <div class="font-bold text-7xl" id="shiftHitCount">0</div>
                                    </div>
                                </div>
                                <div class="mt-3 text-gray-500 text-xs" id="lastUpdated">–</div>
                            </div>

                            <div class="flex flex-col items-center gap-4 bg-gray-50 p-4">
                                <div class="text-center">
                                    <p class="text-gray-600 text-sm">Today</p>
                                    <p id="todayCount" class="font-bold text-gray-900 text-xl">0</p>
                                </div>
                                <div class="text-center">
                                    <p class="text-gray-600 text-sm">Yesterday</p>
                                    <p id="yesterdayCount" class="font-bold text-gray-900 text-xl">0</p>
                                </div>
                                <div class="text-center">
                                    <p class="text-gray-600 text-sm">Change</p>
                                    <div class="flex justify-center items-center space-x-1">
                                        <span id="trendIcon" class="text-lg">→</span>
                                        <span id="percentageDiff" class="font-bold text-lg">0%</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Chart -->
                        <div id="hitsChart" class="bg-white shadow-sm p-4 rounded-lg"
                            style="min-height: 400px; height: 100%;">
                        </div>
                        <div id="lineChart" class="bg-white shadow-sm p-4 rounded-lg"
                            style="min-height: 400px; height: 100%;">
                        </div>
                    </div>

        </main>
</body>

<script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
<script src="/JavaScript/index.js"></script>

</html>